.photos{
    background-color: #DFECF4;
    display: flex;
    justify-content: space-between;
    margin: 60px 0px;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.img-round{
    border-radius: 50%;
}
.images{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 50%;
   position: relative;
}
.little{
    width: 150px;
}

img{
    margin-right: 20px;
    display: inline-block;
}
.one{
     margin-top: -20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 150px;
}
.two{
    margin-bottom: -50px; 
    width: 100%;
    max-width: 150px;
}
.three{
    position: absolute;
    top: 50px;
    left: 240px;
    width: 100%;
    max-width: 150px;
}

/* lado derecho */
.contens-image{
    width: 50%;
    margin-top: 30px;
    position: relative;
}
.contens-image h3{
    font-size: 25px;
    font-weight: 600;
}
.contens-image h2{
    font-size: 40px;
    margin: 10px 0px;
    font-weight: 700;
}
.contens-image p{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.four{
   position: absolute;
   bottom: -30px;
}
.five{
    position: absolute;
    left: 190px;
    bottom: 100px;
}
